<nav class="navbar navbar-expand-lg navbar-dark sticky-top barra">
<div class="container-fluid col-12 col-lg-11">
    <div class="col-9">
    <a class="navbar-brand" href="#"><img [src]="'assets/Imagenes/headerImg.jpeg'" alt="Logo de Consultoria" style="width: 80px" class="img"></a>
    </div>
    <!-- Botón de Toggling -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!--Menu colapsable-->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link item" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link item" href="/servicios">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link item" href="/contacto">Contacto</a>
            </li>
        </ul>
    </div>
</div>
</nav>