<div class="contenedor">
    <div class="row">
      <!-- Imagen en 4 columnas -->
      <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center" style="height: auto;">
        <a class="navbar-brand" href="#">
          <img [src]="'assets/Imagenes/logofinal.png'" alt="Logo de Consultoria" class="img">
        </a>
      </div>
  
      <!-- 4 columnas vacías en pantallas grandes -->
      <div class="d-none d-lg-block col-lg-3"></div>
      
       <!-- Línea horizontal para pantallas pequeñas -->
    <div class="d-block d-lg-none col-12">
      <hr class="separador">
    </div>

  
      <!-- Redes sociales en 4 columnas, centrado en esas columnas -->
      <div class="col-12 col-lg-4 d-flex flex-column align-items-start justify-content-center mx-4 mx-lg-4" style="height: auto;">
        <h4 class="titulo-redes">Seguinos en nuestras redes sociales</h4>
        <div>
          <ul class="list-unstyled">
            <li style="margin-bottom: 10px;"><a href="mailto:asesorias.ruggieroyasociados@gmail.com"target="_blank" class="item-redes"><i class="fa-regular fa-envelope"></i> asesorias.ruggieroyasociados&#64;gmail.com</a></li>
            <li style="margin-bottom: 10px;"><a href="https://www.instagram.com/asesorias.mdp?utm_source=qr" target="_blank" class="item-redes"><i class="fa-brands fa-instagram"></i> Asesorias.mdp</a></li>
            <li style="margin-bottom: 0px;"><a href="https://www.instagram.com/asesorias.mdp?utm_source=qr" target="_blank" class="item-redes"><i class="fa-brands fa-linkedin"></i> Asesorias mdp</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Enlace al perfil de LinkedIn -->
<div class="col-12 text-start linke">
  <a href="https://www.linkedin.com/in/luciano-troncoso-11a954194/" target="_blank" class="desarrollado-por">
    Desarrollado por Luciano Troncoso
  </a>
</div>
  </div>