@keyframes fadeInPage {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Comienza desde arriba de la pantalla */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* Termina en su posición original */
    opacity: 1;
  }
}


.contenedor{
    height: 15em;
    width: 100%;
    background:linear-gradient(to right,rgb(105, 12, 12),rgba(93, 90, 90, 0.351))
}

.texto-sevice {
  opacity: 0;
  animation: slideDown 1.5s ease-out forwards; /* Animación de caída */
}



.texto-servicio{
    margin-top: 50px;
    color: white;
    font-size: 45px;
    font-weight: 500;
    font-family: 'Anton',sans-serif;
}

.texto-contacto{
    color: rgb(82, 78, 78);
    font-size: 20px;
    text-align: justify;
    font-family: 'DIN Next Light', sans-serif;
    line-height: 1.8;

    opacity: 0; /* Inicialmente oculto */
    animation: fadeInPage 1s ease-in forwards; /* Duración de 1 segundo */
}

form {
  opacity: 0; /* Inicialmente oculto */
  animation: fadeInPage 2s ease-in forwards; /* Duración de 2 segundos */
}

.btn{
    background-color: rgb(144, 144, 112);
    color: beige;
    font-weight: 600;
    border: none; /* Define el color y grosor del borde */
    font-size: 16px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4)
    
  }
  
  .btn:hover{
    background-color: rgb(68, 68, 64);
    color: black;
  }

  input:focus, textarea:focus {
    border-color: rgb(105, 12, 12); /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 5px rgb(105, 12, 12); /* Sombra opcional */
    outline: none; /* Elimina el borde predeterminado */
}