<section class="imagen-con-texto">
    <img [src]="'assets/Imagenes/licitacion.jpg'" alt="Logo de Consultoria" class="imagenprincipal">
    <div class="texto-imagen">
        <h2 class="titulo-imagen">Ruggiero & Asociados</h2>
        <p class="descripcion-imagen">Asesorías en Contrataciones Públicas</p>
      </div>
</section>

<!-- Seccion Nosotros-->
<section class="nosotros  d-flex align-items-center justify-content-center">
    <div class="texto-nosotros col-10 col-lg-5">
          <h2 class="titulo-nosotros">Nosotros</h2>
          <p class="texto-p-nosotros">
            Somos una firma establecida en la ciudad de Mar del Plata, integrada por profesionales especializados en contrataciones públicas de bienes y servicios.
        </p>
            <p class="texto-p-nosotros">
            Poseemos una amplia experiencia en el ámbito de las compras públicas, ofreciendo un asesoramiento integral a aquellos interesados en 
            convertirse en proveedores del Estado en los niveles municipal, provincial y nacional.</p>
    </div>
</section>

<!--Seccion Servicios-->

<section class="servicios d-flex align-items-center justify-content-center">
    <div class="texto-servicios col-10 col-lg-8">
        <h2 class="titulo-servicio">Nuestros servicios</h2>
        <div class="row justify-content-between espacio-tarjetas">
        <div class="card mb-3 tarjeta"  style="background-color: rgb(68, 68, 64);">
            <div class="card-body">
              <h5 class="card-title">01</h5>
              <p class="card-text">
                Identificación y análisis del proceso de compra</p>
            </div>
          </div>
          <div class="card mb-3 tarjeta"  style="background-color: rgb(97, 97, 75);" >
            <div class="card-body">
              <h5 class="card-title">02</h5>
              <p class="card-text">Confección de la propuesta</p>
            </div>
          </div>
          <div class="card mb-3 tarjeta"  style="background-color: rgb(103, 103, 100);">

            <div class="card-body">
              <h5 class="card-title">03</h5>
              <p class="card-text">Seguimiento del proceso de compra</p>
            </div>
          </div>
          <div class="card mb-3 tarjeta"  style="background-color: rgb(144, 144, 112);">
            <div class="card-body">
              <h5 class="card-title">04</h5>
              <p class="card-text">Soporte técnico-legal en todas las etapas del proceso</p>
            </div>
          </div>
        </div>

        <button type="button" class="btn"><a href="/servicios">Ver servicios</a></button>
    </div>
</section>


<!--Seccion imagen fondo-->
<div class="imagen-fondo">
  <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
    <div class="col-10 col-lg-6 texto-img-fija">
      <h2 class="texto-img">"Con un enfoque en la excelencia, la transparencia y la actualización constante, Ruggiero & Asociados se 
        dedica a guiar a sus clientes a través de los complejos procesos de contratación pública, asegurando que cumplan 
        con todos los requisitos legales y administrativos necesarios."</h2>
    </div>
  </div>
</div>

<!--Seccion contactanos-->

<section class="servicios d-flex align-items-center justify-content-center">
  <div class="texto-servicios col-10 col-lg-8">
      <h3 class="titulo-servicio">¿Tenés una consulta?</h3>

      <button type="button" class="btn btn-2" ><a href="/contacto">Contactanos</a></button>
        </div>
</section>



