<div class="inicio">
</div>


<!--Seccion imagen fondo-->
<div class="contenedor">
    <div class="d-flex align-items-center justify-content-center container" style="height: 100%;">
        <div class="col-12 col-lg-12 texto-servicio text-center">
            <P></P>
            <p class="texto-sevice">NUESTROS SERVICIOS INTEGRALES</p>
        </div>
    </div>
</div>

<div class="contenedor-descripcion row">
    <!-- 2 columnas vacías a la izquierda -->
    <div class="d-none d-lg-block col-lg-2"></div>
    
    <!-- 8 columnas con contenido en el medio -->
    <div class="col-12 col-lg-8">
        <div class="row align-items-stretch justify-content-between">
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <h2 class="titulo">Identificación de procedimientos de selección</h2>
                <p class="descripcion">Búsqueda y selección del procedimiento de compra que mejor se adapte al perfil del cliente.</p>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <p class="texto-descriptivo">Nuestra labor es mantener actualizados a nuestros clientes respecto a 
                    los procedimientos de compras que se encuentren abiertos tanto en el ámbito municipal, provincial y 
                    nacional. Recomendando su participación, luego de un análisis exhaustivo de los requisitos legales y 
                    administrativos, en aquellos que mejor se adapten a su perfil.</p>
            </div>
        </div>
        <hr>
        <div class="row align-items-stretch justify-content-between">
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <h2 class="titulo">Elaboración de las propuestas</h2>
                <p class="descripcion">Confección de las ofertas.</p>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <p class="texto-descriptivo">Nuestra firma se encarga de guiarlo a presentar una propuesta económica competitiva.
                     Asimismo, nos aseguramos de que su propuesta cumpla con todos los requisitos legales y 
                     administrativos establecidos.</p>
            </div>
        </div>
        <hr>
        <div class="row align-items-stretch justify-content-between">
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <h2 class="titulo">Análisis de cumplimiento legal y administrativo.</h2>
                <p class="descripcion"></p>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <p class="texto-descriptivo">En Ruggiero & Asociados, ofrecemos el servicio de control legal 
                    de los requisitos exigidos para obtener una propuesta válida. Asimismo, lo asesoramos para
                     obtener las certificaciones que pueden ser requeridas en algunos procesos.</p>
            </div>
        </div>
        <hr>
        <div class="row align-items-stretch justify-content-between">
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <h2 class="titulo">Seguimiento integral
                    del proceso de
                    selección</h2>
                <p class="descripcion" style="text-align: start;">Monitoreo integral de todas las etapas del proceso.</p>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <p class="texto-descriptivo">Nos encargamos del monitoreo del proceso de selección y adjudicación, manteniendo una comunicación constante con las entidades impulsoras de la contratación. 

                    Asegurándole un servicio eficaz, transparente y profesional. </p>
            </div>
        </div>
        <hr>
        <div class="row align-items-stretch justify-content-between">
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <h2 class="titulo">Asistencia legal en la resolución de controversias.</h2>
                <p class="descripcion">Búsqueda y selección del procedimiento de compra que mejor se adapte al perfil del cliente</p>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column seccion text-center">
                <p class="texto-descriptivo">Desde nuestra firma nos encargamos de brindarle todo el asesoramiento legal que 
                    requiera para la resolución de controversias que puedan emerger del procedimiento de selección.</p>
            </div>
        </div>

    </div>
    
    <!-- 2 columnas vacías a la derecha -->
    <div class="d-none d-lg-block col-lg-2"></div>
</div>


